/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 16px 30px;
}

.grid-col2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  grid-gap: 1rem;
}

.grid-col3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-col4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 47.4% 47.4%;
      grid-template-rows: 47.4% 47.4%;
  grid-gap: 2rem;
}

@media all and (max-width: 768px) {
  .grid-col2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .grid-row2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .grid-col3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: Source Sans Pro, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

p {
  font-size: 1rem;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 2, 141, 0.664);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 2, 141, 0.664);
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.center-child {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bold {
  font-weight: 700;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.btn-animation {
  -webkit-animation: btnZoom 2s ease-in-out;
          animation: btnZoom 2s ease-in-out;
}

@-webkit-keyframes btnZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

@keyframes btnZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
            transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }
}

header {
  height: 100vh;
  background-image: url(../images/header.jpg);
  background-size: initial;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 77%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 77%);
}

nav {
  height: 10vh;
  background: #000000;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav-links li {
  padding: 10px 20px;
}

.nav-links li:hover {
  border: 2px solid #fff;
  border-radius: 5px;
}

.nav-links li a {
  color: rgba(206, 206, 206, 0.918);
  text-decoration: none;
  font-size: 1rem;
}

.hero {
  font-family: "Mansalva", cursive;
  margin-top: 7rem;
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
}

.hor-line {
  width: 50px;
  background: #fff;
  height: 3px;
  margin-right: 1rem;
  margin-left: auto;
}

.hero h3 {
  margin-top: 2rem;
}

.work {
  height: 100vh;
  -webkit-clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 21%, 100% 0, 100% 100%, 0% 100%);
  padding: 3rem 10rem;
  margin-bottom: 0;
  background: #d7f0f8;
  font-family: "Titillium Web", sans-serif;
}

.work-one {
  padding: 4rem;
  margin-top: 6rem;
  -webkit-box-shadow: 1px 1px 10px #2a120b;
          box-shadow: 1px 1px 10px #2a120b;
  border-radius: 5px;
}

.work-one i {
  font-size: 3rem;
  color: #ad00fd;
}

.icon-box {
  padding: 1.4rem;
  border: 1px solid #000;
  -webkit-box-shadow: 2px 2px 20px #aaa;
          box-shadow: 2px 2px 20px #aaa;
  border-radius: 50%;
}

.work-one h3 {
  color: #2a120bc4;
}

.work-one p {
  font-size: 0.9rem;
  color: #2a120b;
}

@media all and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    text-align: center;
    font-size: 14px;
    width: 100%;
  }
  header {
    width: 100%;
    margin: 0;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
            transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    background: #fefeff;
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 1rem;
  }
  .nav-links li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
  .hero {
    width: 100%;
    text-align: center;
  }
  .work {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 10px;
    -webkit-clip-path: none;
            clip-path: none;
    grid-gap: 0;
  }
  .work-one {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #000;
    margin-top: 0;
  }
  .work-one h3,
  .work-one i {
    margin-bottom: 1rem;
  }
  .icon-box {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=styles.css.map */